@font-face {
    font-family: Termina;
    src: url("/fonts/TerminaTest-Light.otf");
}
@font-face {
    font-family: Terminabold;
    src: url("/fonts/TerminaTest-Bold.otf");
}
body {
    width: 1440px;

margin: 0 auto;
}
main {
    width: 1440px;
    height: 2477px;
}
.headerdiv p {
    color: #000;
font-family: Termina;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 46px;
}
.firstnav {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.firstnav a {
    color: #000;
    text-decoration: none;
font-family: Termina;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.headerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme {
    width: 1440px;
    height: 206px;
    flex-shrink: 0;
    background: #F3F3F3;
}
.theme h3 {
    color: #000;
text-align: center;
font-family: Terminabold;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 30px;
padding-top: 100px;
}
#latest {
    color: #C4C4C4;
font-family: Termina;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 147px;
height: 15px;
}
.articlediv {
    height: 361px;
   margin-top: 200px;
}
.articlediv h2 {
    color: #000;
font-family: Terminabold;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
#description {
    color: #000;
font-family: Termina;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 521px;
margin-top: 44px;
}
.articlediv button {
    display: flex;
padding: 20px 29px;
align-items: flex-start;
gap: 10px;
border-radius: 34.5px;
background: #000;
color: #FFF;
font-family: Termina;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
margin-top: 44px;
;
}
#articleimg {
    width: 675px;
height: 675px;
flex-shrink: 0;
}
.mainarticle {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-left: 105px;
    margin-right: 46px;
}
.collage {
    margin-top: 123px;
    display: flex;
    flex-direction: column;
}
.innercollage {
    display: flex;
    justify-content: space-between;
    margin-left: 46px;
    margin-right: 46px;
}
.innercollage p {
    width: 280px;
height: 85px;
flex-shrink: 0;
    color: #000;
font-family: Terminabold;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
}

footer p {
    color: #000;
font-family: Termina;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 46px;
}