

@font-face {
    font-family: font;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}
:root {
    --normalFontColor: rgb(255, 255, 255);
    --hoverTextColor: rgb(7, 0, 0);
    --activeTextColor: rgb(21, 1, 1);
    --whiteTextShadow: 2px 2px black;
}

.backgrounddivimg {
    margin: 0 auto;
    width: 1700px;
    height: 1550px;
    background-image: url("/images/backgroundaboutus.jpeg");
    background-size: 2000px;
    
}
body {
    margin: 0 auto;
    width: 1700px;
}

.headermaindiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1600px;
    margin-left: 50px;
}
.companyname {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.companyname h2 {
    color: var(--normalFontColor);
    font-family: font;
    font-size: 50px;
    text-shadow: var(--whiteTextShadow);
}
.companyname a {
    text-decoration: none;
}

.companyname p {
    color:var(--normalFontColor);
    font-family: font;
    margin-left: 10px;
    padding-top: 20px;
    text-shadow: var(--whiteTextShadow);
}
.firstnav {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.firstnav a {
    color: var(--normalFontColor);
    font-family: font;
    text-decoration: none;
    font-size: 23px;
    text-shadow: var(--whiteTextShadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.firstnav a:hover {
 
   color:rgb(251, 251, 251);
   text-shadow: 4px 4px  black;
   
}
.firstnav a:active {

    color:rgb(251, 251, 251);
    text-shadow: 4px 4px 4px black;
    
}
.toggle-button {
    position: absolute;
    top: 70px;
    right: 0px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 20px;
   
}
.toggle-button:hover {
    width: 35px;
    height: 25px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px black;
            box-shadow: 2px 2px black;
}













.receptiondiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
 margin-right: 300px;
 margin-left: 300px;
   margin-top: 80px;
}
.receptiondiv img {
    width: 500px;
    height: 700px;
    -webkit-box-shadow: 10px 10px 10px rgb(50, 68, 85);
            box-shadow: 10px 10px 10px rgb(50, 68, 85);
}
.receptiondiv1 {
    width: 500px;
}
.receptiondiv1 h3 {
    font-family: font;
    color: var(--normalFontColor);
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
}
.receptiondiv1 p {
font-family: font;
font-size: 20px;
color: var(--normalFontColor);
text-shadow: 2px 2px 2px black;
}

.avalon1div {
    position: relative;
    left: 350px;
    bottom: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.avalon1div h4 {
    font-family: font;
    color: var(--normalFontColor);
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(8, 3, 32);
    margin-top: 50px;
    margin-left: 10px;

}
#avalon1 {
    font-family: font;
    color: var(--normalFontColor);
    font-size: 60px;
    text-shadow: 2px 2px 2px rgb(6, 9, 62);
}
.avalon2div {
    position: relative;
    left: 297px;
    bottom: 485px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#avalon2 {
    font-family: font;
    color: var(--normalFontColor);
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}
.avalon2div h4 {
    font-family: font;
    color: var(--normalFontColor);
    font-size: 44px;
    text-shadow: 2px 2px 2px black;
    margin-top: 70px;
    margin-left: 10px;
    
}
.offers {
position: relative;
bottom: 200px;
text-align: center;
color: var(--normalFontColor);


}
.offers h3 {
    font-family:font;
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
}
.offers p {
    width: 800px;
    text-align: center;
    margin-left: 450px;
    text-shadow: 2px 2px 2px black;
    font-family: font;
    font-size: 20px;
}

.backgrounddivimg2 {
    margin: 0 auto;
    width: 1700px;
    height: 1200px;
    background-image: url("/images/backgroundimage2.jpeg");
    background-size: 2000px;
}
.contactsdiv {
    background-color: rgb(255, 255, 255);
    width: 1700px;
    height:100px;
    position: relative;
    bottom: 90px;
    background-image: url("/images/skybackground.jpeg");
}
.mainanimationdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#runningtext {
    background-color: rgb(210, 235, 244);
    width: 250px;
    text-align: center;
    padding: 10px;
    font-family: font;
    border-radius: 5px;
    color:rgb(19, 22, 70);
    text-transform:capitalize ;
    -webkit-box-shadow: 5px 5px  rgb(8, 8, 68);
            box-shadow: 5px 5px  rgb(8, 8, 68);

}
.line {
    width: 120px;
    height: 5px;
    background-color: rgb(8, 8, 68);
    border-radius: 50px;
    
}
.airplane2  img{
    width: 130px;
    position: relative;
    right: 30px;
}
.planeanimation {
    position: relative;
    -webkit-animation-name: planeanimation;
            animation-name: planeanimation;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes planeanimation {
    0% {
        left:0;
        right:0;
    }
    100% {
        left: 1200px;
        right:0;
    }
}
@keyframes planeanimation {
    0% {
        left:0;
        right:0;
    }
    100% {
        left: 1200px;
        right:0;
    }
}
.planebelowtext {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-left: 10px;
margin-right: 10px;
position: relative;
bottom: 40px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
width: 1700px;
}
.planebelowtext h4 {
    font-family: font;
    color: var(--normalFontColor);
    text-shadow: 2px 2px rgb(13, 1, 43);
    font-size: 20px;

}
.destination img {
    width: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left:10px;
    top:8px;
    background-color: rgb(185, 215, 244);
    padding:5px;
    border-radius: 50px;
    margin-right: 10px;
    cursor:pointer;
   
}
.destination {
    width: 400px;
    height: 40px;
    border-radius: 50%;
  
}
.destination:hover::after {
    content: "You Arrived At Your Destination!";
    font-family: font;
    color: var(--normalFontColor);
    text-shadow: 2px 2px rgb(13, 1, 43);
    font-size: 20px;
    width: 200px;
    
    
  
}




.employees {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto ;
    grid-template-columns: auto auto auto auto ;
    width: 1000px;
    margin: 0 auto;
}
.employees1 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
text-align: center;
width: 200px;

}
.employees1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.employees1 h3 {
    font-family: font;
    color: var(--normalFontColor);
    font-size: 20px;
    text-shadow: 2px 2px 2px black;

}
.employees1 p {
    font-family: font;
    color:var(--normalFontColor);
    font-size: 15px;
    text-shadow: 2px 2px 2px black;
    position: relative;
    bottom: 20px;

}




footer  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   margin-top: 80px;
}
footer p {
    font-family: font;
    color: var(--normalFontColor);
    text-shadow: 2px 2px black;
}
footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
footer div img {
width: 20px;
height: 20px;
padding: 8px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
gap: 10px;
-ms-flex-negative: 0;
    flex-shrink: 0;
border-radius: 39px;
background: #FFF;
margin-left: 10px;
cursor: pointer;
}
footer p:hover::after {
    content: " All Rights Reserved";
    text-shadow: 2px 2px black;
}






@media only screen and (max-width: 767px) {
    .toggle-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
      
    }
    .firstnav {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
       max-width: 767px;
        margin-left: 20px;
        margin: 0 auto;
        
    }
    .headermaindiv {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .firstnav a {
        width: 100%;
     
    }
    body {
     max-width: 767px;
     
    }
 
    footer {  
        max-width: 767px;
       
    }
    .contactsdiv {
        max-width: 767px;
        background-size: cover;
    }
    @-webkit-keyframes planeanimation {
        0% {
            left:0;
            right:0;
        }
        100% {
            left: 200px;
            right:0;
        }
    }
    @keyframes planeanimation {
        0% {
            left:0;
            right:0;
        }
        100% {
            left: 200px;
            right:0;
        }
    }
    .receptiondiv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .backgrounddivimg {
        max-width: 767px;
        height: 2200px;
        background-size: cover;

    }
    .planebelowtext {
        max-width: 767px;

    }
 .offers p{
   margin-left: 20px;
   width: 700px;
 
 }
 .avalon1div {
    bottom: 1250px;
    left: 180px;
 }
 .avalon2div {
    bottom: 1100px;
    left: 130px;
 }
    .backgrounddivimg2 {
        max-width: 767px;
        height: 2200px;
        background-size: cover;
    }
    .employees {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        margin-left: 20px;
    }
  }






  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .toggle-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
      
    }
    .firstnav {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
       max-width: 1023px;
        margin-left: 20px;
        margin: 0 auto;
        
    }
    .headermaindiv {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .firstnav a {
        width: 100%;
     
    }
    body {
     max-width: 1023px;
     
    }
 
    footer {  
        max-width: 1023px;
       
    }
    .contactsdiv {
        max-width: 1023px;
        background-size: cover;
    }
    @-webkit-keyframes planeanimation {
        0% {
            left:0;
            right:0;
        }
        100% {
            left: 500px;
            right:0;
        }
    }
    @keyframes planeanimation {
        0% {
            left:0;
            right:0;
        }
        100% {
            left: 500px;
            right:0;
        }
    }
    .receptiondiv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .backgrounddivimg {
        max-width: 1023px;
        height: 2200px;
        background-size: cover;

    }
    .planebelowtext {
        max-width: 1023px;

    }
 .offers p{
   margin-left: 20px;
   width: 1000px;
 
 }
 .avalon1div {
    bottom: 1250px;
    left: 300px;
 }
 .avalon2div {
    bottom: 1100px;
    left: 260px;
 }
    .backgrounddivimg2 {
        max-width: 1023px;
        height: 1550px;
        background-size: cover;
    }
    .employees {
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        margin-left: 80px;
    }
  }




  @media only screen and (min-width: 1024px) and (max-width: 1440px) {

 body {
    max-width: 1440px;
 }
}

  @media only screen and (min-width:1441px) and (max-width:2160px) {
    .backgroundanimation {
        max-width: 100%;
        background-size: cover;
    }
   
    body {
        max-width: 100%;
    }
    footer {
        max-width: 100%;
    }
  }


